<div id="about-section" class="row">
  <div class="col-sm-4 text-center">
    <img
      class="img-responsive center-block"
      src="https://media.licdn.com/dms/image/C4E03AQHssu9evMiKwg/profile-displayphoto-shrink_200_200/0/1516459897281?e=1677110400&v=beta&t=cIiU9HWS-1B-ZkwMrWGSjJv1q_QxuzgkAsJP-Nt4s3o"
      alt=""
    />
  </div>
  <div class="col-sm-8 about-body">
    <p>
      My name is John Armbruster and I'm an Arizona native and a talented full
      stack developer. I love golf, beautiful scenery, and problem solving,
      hence why I love to code. My love for code started in 2007 and it has only
      gotten stronger since then. After learning a little bit of Java using
      Karel the Robot, I got more and more interested on what else I could
      learn, which quickly led me to HTML/CSS. The ability to code something and
      see what I did on the screen after a refreshing the browser absolutely
      hooked me in. Since then, I've had the opportunity to both learn and teach
      AngularJS, Angular, React, Vue, and a number of other front-end
      technologies that have helped me become a better front-end developer. I've
      also worked with back-end technologies including NodeJS, .NET and .NET
      Core, Java Spring, Python Django, GraphQL, WebSockets, and others. I've
      also had the opportunity to work with some infrastructure and deployment
      tools, such as AWS, Azure, Splunk Monitoring, DataDog, VictorOps, and I'm
      sure there are others.
    </p>
  </div>
</div>
