<div id="about-section" class="row">
  <div class="col-sm-4 text-center">
    <img
      class="img-responsive center-block"
      src="https://media.licdn.com/dms/image/C4E03AQHssu9evMiKwg/profile-displayphoto-shrink_200_200/0/1516459897281?e=1677110400&v=beta&t=cIiU9HWS-1B-ZkwMrWGSjJv1q_QxuzgkAsJP-Nt4s3o"
      alt=""
    />
  </div>
  <div class="col-sm-8 about-body">
    <p>
      My name is John Armbruster and I was born and raised in Tucson, AZ. I love
      golf, beautiful scenery, and problem solving, hence why I love to code. My
      love for code started in 2007 and it has only gotten stronger since then.
      After learning a little bit of Java using Karel the Robot, I got more and
      more interested on what else I could learn, which quickly led me to
      HTML/CSS. The ability to code something and see what I did on the screen
      after a refreshing the browser absolutely hooked me in. Since then,
      I&#39ve had the ability to learn AngularJS, NodeJS, React, and a number of
      other Javascript frameworks and libraries that have helped me increase my
      knowledge and helped me become a better developer.
    </p>
  </div>
</div>
