---
import experienceData from "../data/experienceData";
import ExperienceItem from "./ExperienceItem.astro";
---

<div id="experience-section" class="row">
  <h1 class="text-center exp-section-title">Experience</h1>
  {experienceData.map((exp) => <ExperienceItem exp={exp} />)}
</div>
