<hr />

<!-- Footer -->
<footer class="container-fluid">
  <div class="row">
    <div class="col-lg-12 text-center">
      <p>Copyright &copy; The Armbruster Group 2022</p>
    </div>
  </div>
</footer>
