---
import portfolioData from "../data/portfolioData";
import PortfolioItem from "./PortfolioItem.astro";
---

<div id="portfolio-section" class="row portfolio-section">
  <h1 class="text-center">Portfolio</h1>
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 portfolio-item-wrapper">
    {portfolioData.map((project) => <PortfolioItem project={project} />)}
  </div>
</div>
