---
import portfolioData from "../data/portfolioData";
import PortfolioItem from "./PortfolioItem.astro";
---

<div id="portfolio-section" class="row portfolio-section">
  <h1 class="text-center">Portfolio</h1>
  
    {portfolioData.map((project) => <PortfolioItem project={project} />)}
</div>
