<!-- Project One -->
<div class="row">
  <div class="col-md-12">
    <div class="portfolio-item-inner">
      <a href="{{previewLink}}">
        <img class="img-responsive img-hover" ng-src="{{imgLink}}" alt="" />
        <div class="contentHover">
          <p class="portfolio-item-title">{{ title }}</p>
          <ul>
            <li>Front: {{ builtWithFront }}</li>
            <li>Back: {{ builtWithBack }}</li>
          </ul>
          <div class="text-center">
            <p>{{ description }}</p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <!-- /.row -->
</div>
